<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.sharding.infra.mapper.OrderMapper">
    <select id="selectPlus" resultType="com.lin.sharding.domain.entity.Order">
        SELECT * from
            t_order
        <where>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="name != null and name != ''">
                <bind name="nameLike" value="'%' + name + '%'"/>
                AND name like #{nameLike}
            </if>
            <if test="orderIdList != null and orderIdList.size()>0">
                and order_id in
                <foreach collection="orderIdList" item="orderIdItem"  separator="," open="(" close=")">
                    #{orderIdItem}
                </foreach>
            </if>
            <!-- inline策略不支持范围查询 -->
            <if test="orderIdStart != null">
                and order_id <![CDATA[ >= ]]> #{orderIdStart}
            </if>
            <if test="orderIdEnd != null">
                and order_id <![CDATA[ <= ]]>  #{orderIdEnd}
            </if>
        </where>
    </select>
</mapper>